{% extends 'base.html' %}
{% block title %}Edit Ticket #{{ ticket.id }}{% endblock %}
{% block content %}
<h2>Edit Ticket #{{ ticket.id }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.subject.label }} {{ form.subject(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    <div class="mb-3">{{ form.status.label }} {{ form.status(class="form-control") }}</div>
    <div class="mb-3">{{ form.priority.label }} {{ form.priority(class="form-control") }}</div>
    <div class="mb-3">{{ form.assigned_to.label }} {{ form.assigned_to(class="form-control") }}</div>
    <div class="mb-3">{{ form.submit(class="btn btn-success") }}</div>
</form>
{% endblock %}
